<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ wedding_site.title }} - Wedding Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        :root {
            --primary-color: {{ colours.primary_color|default:'#ffffff' }};
            --secondary-color: {{ colours.secondary_color|default:'#000000' }};
            --accent-color: {{ colours.accent_color|default:'#ff0000' }};
            --font-color: {{ colours.font_color|default:'#333333' }};
            --btn-hover-color: {{ colours.btn_hover_color|default:'#888888' }};
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <h1>{{ wedding_site.title }}</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'wedding_home' wedding_site.unique_name %}">Home</a></li>
                    <li><a href="{% url 'wedding_home' wedding_site.unique_name %}#details">Details</a></li>
                    <li><a href="{% url 'wedding_home' wedding_site.unique_name %}#reception">Reception</a></li>
                    <li><a href="{% url 'wedding_home' wedding_site.unique_name %}#faq">FAQs</a></li>
                    <li><a href="{% url 'guest_photo_upload' wedding_site.unique_name %}">Upload Photo</a></li> 
                    <li><a href="{% url 'gallery' wedding_site.unique_name %}">Gallery</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>© {{ wedding_site.title }}'s Wedding.</p>
        </div>
    </footer>
    
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
